{% extends "base.html" %}

{% block content %}
  <div class="container mt-4">
    <div class="d-flex justify-content-start mb-3">
      <a href="{% url 'passwords:password_list' %}" class="text-muted">
        <i class="bi bi-arrow-left"></i> Назад к списку
      </a>
    </div>

    <div class="card mx-auto shadow-sm" style="max-width: 500px; width: 100%;">
      <div class="card-body">
        <h2 class="card-title">{{ object.resource }}</h2>
        <p><strong>Категория:</strong> {{ object.category }}</p>
        <p><strong>Логин:</strong> {{ object.login }}</p>
        <p><strong>Пароль:</strong> {{ object.password }}</p>
        <p><strong>Дата создания:</strong> {{ object.created_at }}</p>
        <p><strong>Дата обновления:</strong> {{ object.updated_at }}</p>
        
        <a href="{% url 'passwords:password_edit' password_id=object.id %}" class="btn btn-primary">Редактировать</a>
        <a href="{% url 'passwords:password_delete' password_id=object.id %}" class="btn btn-danger">Удалить</a>
      </div>
    </div>
  </div>
{% endblock %}