{% extends "base.html" %}
{% load static %}

{% block title %}
  Лента ресурсов
{% endblock %}

{% block content %}
  {% if passwords %}
    {% for password in passwords %}
      <article class="mb-5">
        {% include "includes/resource_card.html" %}
      </article>
    {% endfor %}
    {% include "includes/paginator.html" %}
  {% else %}
    <div class="text-center mt-5">
      <p class="mb-3 text-muted">Тут пока ничего нет</p>
      <a href="{% url 'passwords:password_create' %}" class="btn btn-primary">
        Создать ресурс
      </a>
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/passwords.js' %}"></script>
{% endblock %}