{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
  <div class="container mt-4 d-flex justify-center">
    <div class="card mx-auto shadow-sm" style="max-width: 500px; width: 100%;">
      <div class="card-body">
        <h2 class="card-title text-center">
          {% if object %}Редактировать{% else %}Создать{% endif %} ресурс
        </h2>
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          <div class="d-flex justify-between mt-3">
            {% bootstrap_button button_type="submit" content="Сохранить" %}
            <a href="{% url 'passwords:password_list' %}" class="btn btn-secondary ms-2">Отмена</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}